@font-face {
    font-family: "Vanity";
    src: url("./fontpreview/fonts/Vanity-bold.ttf");
}

@font-face {
    font-family: "Satisfy";
    src: url("./fontpreview/fonts/Satisfy-Regular.ttf");
}

@font-face {
    font-family: "Rasthmon";
    src: url("./fontpreview/fonts/Rasthmon Brush Demo.otf");
}

@font-face {
    font-family: "Sofia";
    src: url("./fontpreview/fonts/Satisfy-Regular.otf");
}

@font-face {
    font-family: "Yellotail";
    src: url("./fontpreview/fonts/Yellowtail-Regular.ttf");
}

.fontSection {
    font-size: 3em;
}


.font1 {
    font-family: "Vanity";
}

.font2 {
    font-family: "Satisfy";
}

.font3 {
    font-family: "Rasthmon";
}

.font4 {
    font-family: "Sofia";
}

.font5 {
    font-family: "Yellowtail";
}
